<form {{action 'authenticate' on='submit'}}>
    {{input value=login placeholder="Username"}}
    {{input value=password placeholder="Password" type="password"}}
    <button> Log In </button>
</form>
